body {
  margin: 0px;
  background-image: url('Img/Group\ 10\ \(1\).png');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

#main-login {
  height: 100vh;
}
.alert {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  padding: .75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
#title-login {
  margin-top: 12px;
  margin-left: -140px;
  color: white;
}
#ivocorno
{
  width: 100vw;
  height: 100vw;
  position: relative;

}

#main-login {
  display: flex;
  align-items: start;
  justify-content: baseline;
}

#section-login { 
  margin: 2%;
  border-radius: 10px;
  height: 330px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgb(59, 59, 59);
  box-shadow: 10px 10px 10px grey;
}

#login-form {
  display: flex;
  flex-direction: column;
}

.input-form {
  margin-bottom: 20px;
  border-radius: 10px;
  height: 25px;
  width: 250px;
}

#button-sign-in {
  align-self: center;
  background-color:rgb(62, 185, 202);
  border: none;
  padding: 8px;
  border-radius: 10px;
  font-weight: 900;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.cta-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.cta-login-line {
  margin-left: 80px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.link-redirect {
  margin-left: 5px;
  text-decoration: none;
}

