body {
  font-family: "Poppins";
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 50px;
  background-color:  #201b2c;   ;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}
#primeirotexto
{
  margin: 25px;
}
.container {
  display: flex;
 
}

#texto
{
  text-align: center;
  color: black;
}
.item1 {
  background-color: rgb(114, 236, 170);
  width: 16vw;
  height: 80vh;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
}
#bem-vindo {
  font-size: larger;
  color:black;
  text-align: center;
}

.item2 {
  display: flex;
  background-color: #2f2841;
  height: 80vh;
  width: 60vw;
  border-radius: 16px;
  box-shadow: 5px 10px 40px #2c243d;
}
#entrar
{
  font-weight: 800;
  margin-left: 35px;
  margin-right: 35px;
  width: 10vw;
  height: 6vh;
  border-radius: 20px;
  color:black;
  border: 2px solid black;
  background-color: transparent;
}
input.error {
  border: 1px solid red;
}
#criarconta
{
  color: #64f0a5;
  justify-content: center;
  text-align: center;
  display: flex;
}
#lado-esq
{
  display: flex;
  flex-direction: column;
}
#lado-dire
{
  display: flex;
  flex-direction: column;
}
#item3
{
  display: flex;
  justify-content: space-around;
}
#nome
{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  margin: 10px;
  width: 180px;
}
#email
{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  margin: 10px;
  width: 180px;
}
#dataNascimento
{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  margin: 10px;
  width: 180px;
}
#cpf
{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  margin: 10px;
  width: 180px;
}
#senha
{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  margin: 10px;
  width: 180px;
}
#confirmarSenha
{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  margin: 10px;
  width: 180px;
}
#inputa:focus {
  border-color: #2196F3;
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
}
#termos
{
  margin-left: 50px;
  display: flex;
}
#texto0
{
  text-align: center;
  color: white;
}
#item4
{
  margin-bottom: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  align-items: center;
}
#cadastrar
{
  margin-right: 150px;
  margin-left: 150px;
  width: 10vw;
  height: 6vh;
  border-radius: 20px;
  color: black;
  border: 2px solid black;
  background-color: #64f0a5;
  font-weight: 800;
}