a {
  text-decoration: none;
}
body {
  font-family: "Poppins";
  background-color: #201b2c;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
}
header {
  margin-top: 1.5rem;
  justify-content: space-around;
  display: flex;
}

#head {
  margin: 0px;
  width: 100vw;
  height: 6vh;
}
#serviço {
  font-weight: bold;
  font-size: 35px;
  display: flex;
  color: white;
  margin-top: 0px;
}
#head {
  margin: 0px;
  width: 100vw;
  height: 6vh;
}
#serviço {
  display: flex;
  color: white;
}
#historico {
  margin-top: 15px;
  color: white;
  width: auto;
  height: auto;
}
#pagamentos {
  margin-top: 15px;
  color: white;
  width: auto;
  height: auto;
}
#histopagamento {
  margin-top: 15px;
  color: white;
  width: auto;
  height: auto;
}

#tela {
  margin-top: 15px;
  color: white;
  width: auto;
  height: auto;
}
#login {
  font-size: xx-large;
  color: white;
  width: auto;
  height: auto;
  margin-top: 0px;
}

#inicio {
  color: white;
  width: auto;
  height: auto;
  margin-top: -120px;
  margin-left: 2%;
  text-decoration: none;
}

#voltarinicio {
  color: white;
  width: auto;
  height: auto;
  margin-top: -5px;
  margin-left: 2%;
  text-decoration: none;
}

#sobre {
  color: white;
  width: auto;
  height: auto;
  margin-top: -85px;
  margin-left: 20%;
  text-decoration: none;
}
#sobrenos {
  color: white;
  width: auto;
  height: auto;
  margin-top: -5px;
  margin-left: 20%;
  text-decoration: none;
}
#suporte {
  color: white;
  width: auto;
  height: auto;
  margin-top: -80px;
  margin-left: 35%;
}
#suporte1 {
  color: white;
  width: auto;
  height: auto;
  margin-top: -5px;
  margin-left: 35%;
}

#sobre {
  color: white;
  width: auto;
  height: auto;
  margin-top: -85px;
  margin-left: 20%;
  text-decoration: none;
}
#sobrenos {
  color: white;
  width: auto;
  height: auto;
  margin-top: -5px;
  margin-left: 20%;
  text-decoration: none;
}
#suporte {
  color: white;
  width: auto;
  height: auto;
  margin-top: -80px;
  margin-left: 35%;
}
#suporte1 {
  color: white;
  width: auto;
  height: auto;
  margin-top: -5px;
  margin-left: 35%;
}

#sobre {
  color: white;
  width: auto;
  height: auto;
  margin-left: 70px;
  text-decoration: none;
  padding: auto;
}
#suporte {
  color: white;
  margin-left: 70px;
}
#logo {
  margin-left: 25%;
}
#Imagem-social {
  margin-top: 50px;
  width: 5vw;
  height: 5vh;
  margin-left: -200px;
}
#rede {
  width: 15vw;
  display: flex;
  margin-left: 250px;
}

.enviar {
  background-color: #64f0a5;
  height: 40px;
  width: 100px;
  margin-left: 160px;
  font-weight: bold;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  top: 150px;
  display: flex;

  color: white;
}

#footer_content {
  font-size: 13px;
  background-color: #39334b;
  justify-content: space-between;
  display: flex;
  padding: 3rem 3.5rem;
  flex: 1;
  padding: 10px;
}
.footer-list {
  padding: 10px;
}
#footer_contacts {
  margin-bottom: 0.75rem;
}
#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}
.footer-list {
  list-style: none;
}

.footer-list .footer-link {
  color: rgba(240, 248, 255, 0.568);
}
#footer_copy {
  background-color: #201b2c;
  display: flex;
  justify-content: center;
  color: white;
}
#botao2 {
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #00ff88;
}

#footer_social_media .footer-link {
  text-decoration: none;
}

#foto {
  margin-left: 60px;
  width: 80%;
  height: 60%;
}
a {
  color: white;
}
p {
  color: white;
}
h3 {
  color: white;
}
#cor {
  color: white;
}
#texto3 {
  margin-left: 50px;
}
#email {
  margin-left: -8%;
}

.main-login {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 140vh;
}

.perfil1 {
  display: flex;

  align-items: center;
  margin-left: 5%;
  width: 40vw;
  height: 40vh;
  border-radius: 16px;
  border-radius: 10px;
  box-shadow: 5px 10px 40px #2c243d;
  background-color: #39334b;
}

#Foto {
  margin-left: 40px;
  width: 30%;
  height: 90%;
  border-radius: 50%;
}

#Infor {
  margin-left: 50px;
}

.alterar {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 5%;
  width: 40vw;
  height: 50vh;
  border-radius: 16px;
  border-radius: 10px;
  box-shadow: 5px 10px 40px #2c243d;
  background-color: #39334b;
}
#texto-cadastro {
  display: flex;
  margin-left: 20px;
  font-size: 20px;
}

#foto3 {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 50%;
  height: 60%;
}
.endereço {
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  width: 40vw;
  height: 75vh;
  border-radius: 16px;
  border-radius: 10px;
  box-shadow: 5px 10px 40px #2c243d;
  background-color: #39334b;
}
#Email {
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 10pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;

  width: 80%;
}

#Email1 {
  margin-left: 20px;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 10pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;

  width: 80%;
}

#bairro {
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 10pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
  margin: 20px;

  width: 80%;
}
#bairro2 {
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 10pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
  margin: 20px;

  width: 80%;
}
#cidade {
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 10pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;

  width: 80%;
}
#telefone {
  margin-left: 20px;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 10pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;

  width: 80%;
}

#casa {
  border: none;
  border-radius: 10px;
  padding: 15px;
  margin: 20px;
  background: #514869;
  color: #f0ffffde;
  font-size: 10pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;

  width: 80%;
}
#cep {
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 10pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;

  width: 80%;
}

#endereço1 {
  margin-top: -15%;
  color: #00ff88;
}

#salvar {
  width: 80%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  font-weight: 800;
  letter-spacing: 2px;
  color: #2b134b;
  background: #00ff88;
  box-shadow: 0px 10px 40px -12px #00ff8052;
}
#submit {
  width: 80%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  font-weight: 800;
  letter-spacing: 2px;
  color: #2b134b;
  background: #00ff88;
  box-shadow: 0px 10px 40px -12px #00ff8052;
}


#alterar-senha {
  margin-top: 20px;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  width: 40vw;
  height: 55vh;
  border-radius: 16px;
  border-radius: 10px;
  box-shadow: 5px 10px 40px #2c243d;
  background-color: #39334b;
}

img {
  transition: opacity 0.1s ease-in-out;
}

img:hover {
  opacity: 0.6;
}
