* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}
footer {
  width: 100%;
  color: aliceblue;
}

#footer_content {
  font-size: 13px;
  background-color: #39334b;
  justify-content: space-between;
  display: flex;
  padding: 3rem 3.5rem;
  flex: 1;
  padding: 10px;
}
.footer-list {
  padding: 10px;
}
#footer_contacts {
  margin-bottom: 0.75rem;
}
#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}
.footer-list {
  list-style: none;
}

.footer-list .footer-link {
  color: rgba(240, 248, 255, 0.568);
}
#footer_copy {
  background-color: #201b2c;
  display: flex;
  justify-content: center;
}

header {
  margin-top: 1.5rem;
  justify-content: space-around;
  display: flex;
}
#head {
  margin: 0px;
  width: 100vw;
  height: 6vh;
}
#serviço {
  display: flex;
  color: white;
}
#historico {
  margin-top: 15px;
  color: white;
  width: auto;
  height: auto;
}
#pagamentos {
  margin-top: 15px;
  color: white;
  width: auto;
  height: auto;
}
#histopagamento {
  margin-top: 15px;
  color: white;
  width: auto;
  height: auto;
}

#tela {
  margin-top: 15px;
  color: white;
  width: auto;
  height: auto;
}
#login {
  font-size: xx-large;
  color: white;
  width: auto;
  height: auto;
}



body {
  background-color: #201b2c;
  margin: 0px;
  width: 100%;
  height: 100vh;
}

#serviço {
  margin: 0%;
  display: flex;
  margin-top: -41px;
  color: white;
}
#historico {
  color: white;
  margin-top: -25px;
  margin-left: 13%;
  width: auto;
  height: auto;
}
#pagamentos {
  color: white;
  margin-top: -35px;
  margin-left: 30%;
  width: auto;
  height: auto;
}
#histopagamento {
  color: white;
  margin-top: -35px;
  margin-left: 45%;
  width: auto;
  height: auto;
}

#suporte {
  color: white;
  margin-top: -35px;
  margin-left: 65%;
  width: auto;
  height: auto;
}
#login {
  color: white;
  margin-top: -35px;
  margin-left: 85%;
  width: auto;
  height: auto;
}
.Caixa-cinza {
  width: 40vw;
  height: 88vh;
  background-color: grey;
  border-radius: 10px;
  margin-left: 1%;
}
.Bloco {
  position: relative;
  display: flex;
  margin-top: -2px;
  margin-left: 5px;
  width: 38vw;
  height: 18.5vh;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
#Titulo {
  position: relative;
  display: flex;
  text-align: right;
  margin-top: 0.2%;
  margin-left: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;

  color: #000000;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.elemento {
  flex: 1 0 20%; /* ajuste as propriedades flex de acordo com sua necessidade */
}

.item1 {
  margin-left: 10px;
  margin-top: 50px;
  justify-content: left;
  background-color: rgb(50, 50, 50);
  width: 35vw;
  height: 45vh;
  border-radius: 10px;
}
.Pesquisa {
  margin: 10px;
  border-radius: 8px;
  width: 15vw;
  height: 4vh;
  color: black;
}

.item2 {
  margin: 10px;
  margin-left: 40px;
  border-radius: 20px;
  margin-top: 50px;
  background-color: rgb(217, 217, 217);
  width: 50vw;
  height: 40vh;
}

.Footer {
  margin: 0;
  padding-top: 1%;
  width: 56vw;
}

.Sociabilidade {
  padding-left: 90%;
  margin-top: -5.1rem;
}

.Social {
  width: 100%;
  margin-right: 10%;
  margin-top: -6.7%;
  color: white;
}
.Imagem-social {
  margin: 0;
}

.Copy {
    width: auto;
  background-color: black;
  height: 30%;
}

.Copyright {
  margin: 0;
  padding-left: 47%;
  color:white;
  width: 52.4vw;
  height: 11%;
}
.Footer-conteiner {
  float: left;

  width: 100vw;
  height: 19vh;
  background-color: #3d3d3d;
}

.scrollable-content {
  overflow: auto;
  margin-top: -15px;
  max-height: 35vh;
  margin-left: 0px;
}
.Bloco-trabalho {
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 10px;
  background-color: #d9d9d9;
  text-align: left;
  width: 30vw;
  font-size: 2rem;
}
.Trabalhador {
  text-decoration: none;
  color: #000000;
}
.Horario {
  margin-top: -1rem;
  margin-left: 70%;
  color: #5a5a5a;
  font-size: 0.8rem;
}
.Bloco-trabalho2 {
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 10px;
  background-color: #d9d9d9;
  text-align: left;
  width: 30vw;
  font-size: 2rem;
}
.Trabalhador2 {
  text-decoration: none;
  color: #000000;
}
.Bloco-trabalho3 {
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 10px;
  background-color: #d9d9d9;
  text-align: left;
  width: 30vw;
  font-size: 2rem;
}
.Trabalhador3 {
  text-decoration: none;
  color: #000000;
}
.Bloco-trabalho4 {
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 10px;
  background-color: #d9d9d9;
  text-align: left;
  width: 30vw;
  font-size: 2rem;
}
.Trabalhador4 {
  text-decoration: none;
  color: #000000;
}
.Bloco-trabalho5 {
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 10px;
  background-color: #d9d9d9;
  text-align: left;
  width: 30vw;
  font-size: 2rem;
}
.Trabalhador5 {
  text-decoration: none;
  color: #000000;
}
.Bloco-trabalho6 {
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 10px;
  background-color: #d9d9d9;
  text-align: left;
  width: 30vw;
  font-size: 2rem;
}
.Trabalhador6 {
  text-decoration: none;
  color: #000000;
}
.Bloco-trabalho7 {
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 10px;
  background-color: #d9d9d9;
  text-align: left;
  width: 30vw;
  font-size: 2rem;
}
.Trabalhador7 {
  text-decoration: none;
  color: #000000;
}
.Bloco-trabalho8 {
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 10px;
  background-color: #d9d9d9;
  text-align: left;
  width: 30vw;
  font-size: 2rem;
}
.Trabalhador8 {
  text-decoration: none;
  color: #000000;
}

#escreva {
  margin-left: 15px;
  width: auto;
  height: auto;
}

#descrição {
  margin-top: -6%;
}

.botao {
  margin-left: 15px;
  margin-top: 55px;
  color: white;
  width: 10vw;
  height: 5vh;
  background-color: black;
  border-radius: 20px;
}

.item3 {
  margin: 60px;
  border-radius: 20px;
  margin-left: 10px;
  background-color: rgb(50, 50, 50);
  width: 35vw;
  height: 40vh;
}
.certificado {
  margin-top: 50px;
  width: 20vw;
  height: 20vh;
  margin-left: 15%;
}

#horario {
  margin-left: px;
}

.input-form {
  border-radius: 20px;
  background-color: rgb(217, 217, 217);
  width: 15vw;
  height: 5vh;
}
#cancelar {
  color: white;
  background-color: red;
  margin-top: 250px;
  margin-left: 100px;
  width: 10vw;
  height: 6vh;
  border-radius: 20px;
}
#concluido {
  color: black;
  background-color: blue;
  margin-top: 250px;
  margin-left: 100px;
  width: 10vw;
  height: 6vh;
  border-radius: 20px;
}
a {
  color: black;
}
