a {
  text-decoration: none;
}
body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
}
#head {
  margin: 0px;
  background-color: black;
  width: 100vw;
  height: 6vh;
}
#serviço {
  margin: 0%;
  display: flex;
  margin-top: -41px;
  color: white;
}
#historico {
  color: white;
  margin-top: -25px;
  margin-left: 13%;
  width: auto;
  height: auto;
}
#pagamentos {
  color: white;
  margin-top: -35px;
  margin-left: 30%;
  width: auto;
  height: auto;
}
#histopagamento {
  color: white;
  margin-top: -35px;
  margin-left: 45%;
  width: auto;
  height: auto;
}

#tela {
  color: white;
  margin-top: -35px;
  margin-left: 65%;
  width: auto;
  height: auto;
}
#login {
  color: white;
  margin-top: -35px;
  margin-left: 85%;
  width: auto;
  height: auto;
}

#footer {
  background-color: #333;
  color: white;
  height: 19vh;
  width: 100vw;
  margin-top: 3%;
}
#inicio {
  color: white;
  width: auto;
  height: auto;
  margin-top: -120px;
  margin-left: 2%;
  text-decoration: none;
}

#voltarinicio {
  color: white;
  width: auto;
  height: auto;
  margin-top: -5px;
  margin-left: 2%;
  text-decoration: none;
}

#sobre {
  color: white;
  width: auto;
  height: auto;
  margin-top: -85px;
  margin-left: 20%;
  text-decoration: none;
}
#sobrenos {
  color: white;
  width: auto;
  height: auto;
  margin-top: -5px;
  margin-left: 20%;
  text-decoration: none;
}
#suporte {
  color: white;
  width: auto;
  height: auto;
  margin-top: -80px;
  margin-left: 35%;
}
#suporte1 {
  color: white;
  width: auto;
  height: auto;
  margin-top: -5px;
  margin-left: 35%;
}
#logo {
  margin-left: 50%;
  margin-top: -110px;
}
#red {
  font-size: 25px;
  margin-top: -90px;
  margin-left: 80%;
  color: white;
}

#faceboock {
  margin-left: 79%;
  width: 3vw;
  height: 3vh;
}
#twitter {
  width: 3vw;
  height: 3vh;
}
#linkedin {
  width: 3vw;
  height: 3vh;
}
#copy {
  align-items: center;
  justify-content: center;
  margin-top: 23px;
  background-color: black;
  width: 100vw;
  height: 5vh;
}

#copytext {
  margin-top: -40px;
  color: white;
  margin-left: 45%;
  width: auto;
  height: auto;
}

.Caixa-cinza {
  margin-top: 40px;
  margin-left: 20px;
  width: 42vw;
  height: 75vh;
  background-color: grey;
  border-radius: 10px;
}

form {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 15px;
  max-width: 500px;
}

h1 {
  margin-bottom: 20px;
  margin-left: 20px;
  color: #66ffff;
  text-shadow: 5px 5px 5px black;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  color: black;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  border-color: #000066;
  box-shadow: 5px 0px 9px #ffff00;
  background-color: #66ffff;
  color: black;
  font-weight: bold;
}

.enviar {
  background-color: black;
  height: 40px;
  width: 100px;
  margin-left: 80px;
  font-weight: bold;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;

  color: white;
}

textarea {
  width: 400px;
  height: 120px;
  line-height: 20px;
  max-width: 400px;
}

form label {
  margin-left: 80px;
  color: #ffffff;
  font-weight: bold;
}

#discord-container {
  margin-top: -390px;
  margin-left: 110%;
  color: black;
  background-color: grey;
  height: 55vh;
  width: 20vw;
  align-items: center;
  border-radius: 10px;
}
#discord {
  color: black;
  margin-left: 80px;
  width: auto;
  height: auto;
}

#textdis {
  margin-left: 40px;
  width: auto;
  height: auto;
}
#disimg {
  width: 15vw;
  height: 35vh;
  margin-left: 35px;
}

#ajuda {
  width: 12vw;
  height: auto;
  margin-top: -280px;
  margin-left: 300px;
}

#face {
  

  
  margin-left: 300px;
  background-size: cover;
  background-position: center;
}
