* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}
footer {
  width: 100%;
  color: aliceblue;
}

#footer_content {
  font-size: 13px;
  background-color: #39334b;
  justify-content: space-between;
  display: flex;
  padding: 3rem 3.5rem;
  flex: 1;
  padding: 10px;
}
.footer-list {
  padding: 10px;
}
#footer_contacts {
  margin-bottom: 0.75rem;
}
#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}
.footer-list {
  list-style: none;
}

.footer-list .footer-link {
  color: rgba(240, 248, 255, 0.568);
}
#footer_copy {
  background-color: #201b2c;
  display: flex;
  justify-content: center;
}
#botao2 {
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #00ff88;
}

#footer_social_media .footer-link {
  text-decoration: none;
}

a {
  text-decoration: none;
}
#quadradao
{
  display: flex;
}
body {
  background-color: #201b2c;
  margin: 0px;
  width: 100%;
  height: 100vh;
}
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: black;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: aliceblue;
  border-radius: 5px;
}
header {
  margin-top: 1.5rem;
  justify-content: space-around;
  display: flex;
}
#head {
  margin: 0px;
  width: 100vw;
  height: 6vh;
}
#serviço {
  display: flex;
  color: white;
}
#historico {
  margin-top: 15px;
  color: white;
  width: auto;
  height: auto;
}
#pagamentos {
  margin-top: 15px;
  color: white;
  width: auto;
  height: auto;
}
#histopagamento {
  margin-top: 15px;
  color: white;
  width: auto;
  height: auto;
}

#tela {
  margin-top: 15px;
  color: white;
  width: auto;
  height: auto;
}
#login {
  font-size: xx-large;
  color: white;
  width: auto;
  height: auto;
}



.Caixa-cinza {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  margin-bottom: 40px;
  margin-top: 80px;
  width: 43vw;
  height: 92vh;
  background-color: #2f2841;
  border-radius: 10px;
  box-shadow: 5px 10px 40px #2c243d;
}
.bloco-cinza {
  display: flex;
  align-items: center;
  justify-content: center;
}
#imglateral {
  display: flex;
  margin: 4%;
  width: 60vw;
  height: 80vh;
}
#imglateral{
  margin-top: 0px;
  display: flex;
  margin-left: 1260px;
  justify-content: space-around;
}
.Bloco {
  justify-content: space-around;
  display: flex;
  margin-top: 0px;
  margin-left: 15px;
  width: 38vw;
  height: 18.5vh;
  background-color: #201b2c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
#pesquisar {
  margin-top: 39.5px;
  margin-left: 67px;
  text-align: center;
  height: 7vh;
  width: 7vw;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: black;

  background: #00ff88;
  box-shadow: 0px 10px 40px -12px #00ff8052;
  border-radius: 10px;
}
#Titulo {
  position: relative;
  display: flex;
  text-align: right;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 21px;
  color: white;
  margin-bottom: 15px;
}
#conteudo {
  margin: 4%;
}
.Subtitulo {
  position: relative;
  text-align: left;

  font-family: "Poppins";
  font-style: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  width: 19vw;
  height: 5vh;
  color: white;
}
.Bloco2 {
  justify-content: space-around;
  display: flex;
  margin-top: 0px;
  margin-left: 15px;
  width: 38vw;
  height: 18.5vh;
  background-color: #201b2c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.Titulo2 {
  position: relative;
  display: flex;
  text-align: right;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 21px;
  color: white;
  margin-bottom: 15px;
}

#conteudo2 {
  margin-left: 20px;
  margin: 4%;
}
.Subtitulo2 {
  position: relative;
  text-align: left;
  font-family: "Poppins";
  font-style: none;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  width: 15vw;
  color: white;
}
#Cadastro {
  margin-top: 39.5px;
  margin-left: 115px;
  text-align: center;
  height: 7vh;
  width: 7vw;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: black;

  background: #00ff88;
  box-shadow: 0px 10px 40px -12px #00ff8052;
  border-radius: 10px;
}
.Bloco3 {
  justify-content: space-around;
  display: flex;
  margin-top: 0px;
  margin-left: 15px;
  width: 38vw;
  height: 18.5vh;
  background-color: #201b2c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.Titulo3 {
  position: relative;
  display: flex;
  text-align: right;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 21px;
  color: white;
  margin-bottom: 15px;
}
#conteudo3 {
  margin: 4%;
}
.Subtitulo3 {
  position: relative;
  text-align: left;
  font-family: "Poppins";
  font-style: none;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  width: 15vw;
  color: white;
}
#Enviar {
  margin-top: 39.5px;
  margin-left: 115px;
  text-align: center;
  height: 7vh;
  width: 7vw;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: black;

  background: #00ff88;
  box-shadow: 0px 10px 40px -12px #00ff8052;
  border-radius: 10px;
}
.Bloco4 {
  justify-content: space-around;
  display: flex;
  margin-top: 0px;
  margin-left: 15px;
  width: 38vw;
  height: 18.5vh;
  background-color: #201b2c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.Titulo4 {
  position: relative;
  display: flex;
  text-align: right;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 21px;
  color: white;
  margin-bottom: 15px;
}

.Subtitulo4 {
  position: relative;
  text-align: left;
  font-family: "Poppins";
  font-style: none;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  width: 15vw;
  color: white;
}
#Acessar {
  margin-top: 39.5px;
  margin-left: 115px;
  text-align: center;
  height: 7vh;
  width: 7vw;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: black;

  background: #00ff88;
  box-shadow: 0px 10px 40px -12px #00ff8052;
  border-radius: 10px;
}
#conteudo4 {
  margin: 4%;
}
.botao3
{
  color: aliceblue;
}
.opcoes-servico {
  margin-top: 180px;
  box-shadow: 5px 10px 40px #2c243d;
  background-color: #2f2841;
  width: 350px;
  height: 300px;
  overflow-y: auto;
  border-radius: 5px;
  padding: 10px;
}

.opcoes-servico::-webkit-scrollbar {
  width: 8px;
}

.opcoes-servico::-webkit-scrollbar-track {
  background: black;
  border-radius: 5px;
}

.opcoes-servico::-webkit-scrollbar-thumb {
  background-color: aliceblue;
  border-radius: 5px;
}
.opc
{
  text-align: center;
  margin: 4px;
  box-shadow: 5px 10px 40px #2c243d;
  border-radius: 5px;
  box-sizing: border-box;
  width: 320px;
  height: 30px;
  background-color: #39334b;
}